.author {
  margin-top: 170px;

  background-image: radial-gradient(350px at 75% 180px, rgba(255, 255, 255, 0.09), transparent);

  border: 3px solid #f99406;
}

.author .section__picture {
  position: relative;

  margin-top: -170px;
  margin-bottom: 20px;
}

.author .section__description {
  margin-bottom: 35px;
}
