.about {
  position: relative;

  padding-top: calc(30px + 13px + 30px);

  text-align: left;
}

.about:before,
.about:after {
  content: "";

  position: absolute;
  left: 15px;
  top: 30px;

  width: 70px;
  height: 2px;

  background-color: #f99406;
}

.about:after {
  left: calc(15px + 21px);
  top: calc(30px + 13px);
}

.about__list {
  margin: 40px 0 0;
  padding-left: 25px;

  list-style: none;

  counter-reset: item;
}

.about__item {
  position: relative;

  padding-left: 62px;
}

.about__item:not(:first-child) {
  margin-top: 50px;
}

.about__item:before {
  content: counter(item);
  counter-increment: item;

  position: absolute;
  left: 40px;
  top: -20px;
  z-index: -1;

  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  color: #ffffff;

  opacity: 0.1;
}

.about__item:after {
  content: "";

  position: absolute;
  left: 5px;
  top: 5px;

  width: 16px;
  height: 16px;

  background-color: transparent;

  border: 6px solid #ffffff;
  border-radius: 50%;

  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .about {
    padding-top: calc(60px + 13px + 30px);
  }

  .about:before,
  .about:after {
    left: -50px;
    top: 60px;
  }

  .about:after {
    left: calc(-50px + 21px);
    top: calc(60px + 13px);
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 50px 40px;
    grid-auto-flow: column;
    margin-top: 60px;
    padding-left: 63px;
  }

  .about__item:not(:first-child) {
    margin-top: 0;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .about {
    padding-top: calc(90px + 13px + 30px);
    padding-bottom: 10px;
  }

  .about:before,
  .about:after {
    top: 90px;
  }

  .about:after {
    top: calc(90px + 13px);
  }

  .about .section__title {
    max-width: 900px;
  }

  .about__list {
    position: relative;

    grid-template-columns: 311px 216px 245px 216px 152px;
    grid-template-rows: 400px;
    grid-column-gap: 0;
    margin: 85px -180px 0;
    padding-left: 180px;
    padding-right: 180px;

    background: url(img/about-bg-list.svg) calc(50% - 10px) bottom no-repeat;

    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }

  .about__list:before,
  .about__list:after {
    content: "";

    position: absolute;
    left: 0;
    top: 102px;
    z-index: -10;

    width: 100%;
    height: 104px;

    border-top: 2px solid rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }

  .about__list:after {
    top: calc(102px + 104px);

    border-top: none;
  }

  .about__item {
    padding-left: 15px;
  }

  .about__item:nth-child(1) {
    margin-top: 153px;
  }

  .about__item:nth-child(2) {
    margin-top: 67px;
  }

  .about__item:nth-child(3) {
    margin-top: 165px;
    padding-right: 30px;
  }

  .about__item:nth-child(4) {
    margin-top: 68px;
  }

  .about__item:nth-child(5) {
    margin-top: 32px;
  }

  .about__item:before {
    left: 0;
  }

  .about__item:after {
    left: 8px;
    top: 129px;

    width: 22px;
    height: 22px;

    border-width: 8px;

    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  }

  .about__item:nth-child(2):after {
    top: 132px;
  }

  .about__item:nth-child(3):after {
    top: 144px;
  }

  .about__item:nth-child(4):after {
    top: 120px;
  }

  .about__item:nth-child(5):after {
    top: 93px;
  }

}
