.author {
  background-image: radial-gradient(200px at 70% 330px, rgba(255,255,255,.09), transparent);
}

.author .section__picture {
  margin-top: 0;
  margin-bottom: -97px;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .author {
    display: flex;
    align-items: center;

    background-image: radial-gradient(350px at center 270px,rgba(255,255,255,.09),transparent);
  }

  .author .section__title {
    position: relative;

    padding-bottom: 15px;
  }

  .author .section__title:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 300px;
    height: 2px;
    margin-left: -100px;

    background-color: rgba(255, 255, 255, 0.1);
  }

  .author .section__picture {
    flex-shrink: 0;
    margin-bottom: 0;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .author {
    padding-left: 130px;
    padding-right: 130px;
  }

  .author .section__title:after {
    width: 400px;
    margin-left: -180px;
  }

}
