.copyright {
  margin: 0;

  font-size: 12px;
}

.copyright__name {
  text-transform: uppercase;
  color: #f99406;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .copyright {
    font-size: 14px;
  }

}
