.features__list {
  max-width: 214px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.features__item {
  padding-top: 95px;

  line-height: 1.25;

  background: url("img/features-icon-quickly.png") 50% 0 no-repeat;
}

.features__item:not(:first-child) {
  margin-top: 47px;
}

.features__item--profession {
  background-image: url("img/features-icon-profession.png");
}

.features__item--money {
  background-image: url("img/features-icon-money.png");
}

.features__item-title {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .features__list {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .features__item {
    width: 30%;

    background-position: 0 0;
  }

  .features__item:not(:first-child) {
    margin-top: 0;
  }

}
