.features__list {
  max-width: 214px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.features__item {
  padding-top: 95px;

  line-height: 1.25;

  background: url("img/features-icon-quickly.png") 50% 0 no-repeat;
}

.features__item:not(:first-child) {
  margin-top: 47px;
}

.features__item--profession {
  background-image: url("img/features-icon-profession.png");
}

.features__item--money {
  background-image: url("img/features-icon-money.png");
}

.features__item-title {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .features__list {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .features__item {
    width: 30%;

    background-position: 0 0;
  }

  .features__item:not(:first-child) {
    margin-top: 0;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .features__list {
    position: relative;

    padding: 0 calc(80px + 30px);
  }

  .features__list:before,
  .features__list:after {
    content: "";

    position: absolute;
    left: 0;
    top: 107px;

    width: 80px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.1);
  }

  .features__list:after {
    left: auto;
    right: 0;
  }

  .features__item {
    width: 22%;
  }

  .features__item:not(:last-child) {
    position: relative;

    width: 39%;
    margin-right: 30px;
    padding-right: calc(20px + 110px);
  }

  .features__item:not(:last-child):before {
    content: "";

    position: absolute;
    right: 0;
    top: 107px;

    width: 110px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.1);
  }

}
