.input {
  padding: 15px;

  font-size: 14px;
  line-height: 1;
  color: #0b1119;
  text-align: center;

  border: 0;

  background-color: #ffffff;
}

.input::placeholder {
  color: #afafaf;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .input {
    padding: 20px;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .input {
    text-align: left;
  }

}
