.page {
  max-width: 420px;
  margin: auto;
}

.page__footer {
  margin-top: 30px;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .page {
    max-width: 750px;
  }

  .page__footer {
    margin-top: 0;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .page {
    max-width: 1170px;
  }

}
