.time-left {
  display: inline-block;

  border-spacing: 10px;
}

.time-left__title {
  margin-bottom: 15px;
}

.time-left__value {
  position: relative;

  width: 120px;
  padding-bottom: 10px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #ffffff;

  border-bottom: 2px solid #ffffff;
}

.time-left__value:not(:first-child):before {
  content: ":";

  position: absolute;
  left: -10px;
  top: 50%;

  width: 10px;
  margin-top: calc(32px / -2 - 6px);

  opacity: 0.1;
}

.time-left__value--disabled {
  opacity: 0.1;
}

.time-left__option {
  font-weight: 300;
  font-size: 12px;
  line-height: 0.5;
  color: #bdbdbd;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .time-left {
    width: calc(120px * 4 + 18px * 5);

    border-spacing: 18px;
  }

  .time-left__title {
    margin-bottom: 35px;
  }

  .time-left__value {
    padding-bottom: 15px;

    font-size: 60px;
  }

  .time-left__value:not(:first-child):before {
    left: -18px;

    width: 18px;
    margin-top: calc(60px / -2 - 6px);
  }

  .time-left__option {
    font-size: 16px;
  }

}
