.video {
  background: url("img/video-back-mobile.png") 50% 50% no-repeat;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .video {
    position: relative;

    padding-right: calc(15px + 287px + 27px);

    background: none;
  }

  .video .section__picture {
    position: absolute;
    right: 15px;
    top: 80px;

    margin: 0;
  }

}
