.video {
  background: url("img/video-bg-mobile.png") 50% 50% no-repeat;
}


/* TABLET
====================================================================== */

@media (min-width: 750px) {

  .video {
    position: relative;

    padding-right: calc(15px + 287px + 27px);

    background: none;
  }

  .video .section__picture {
    position: absolute;
    right: 15px;
    top: 80px;

    margin: 0;
  }

}


/* DESKTOP
====================================================================== */

@media (min-width: 1170px) {

  .video {
    min-height: calc(50px + 456px + 50px);
    padding-right: calc(15px + 477px + 95px);
  }

  .video .section__picture {
    top: 50px;
  }

}
